*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.fa-block{
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}
.fa-block a{
    display: flex;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 30px;
    padding: 0 40px;
    align-items: center;
    border-radius: 10px;
    gap: 15px;
    transition: 0.5s;
}
.fa-block a:hover{
    background-color: green;
    color: white;
}
.fa-block a:hover i{
    font-size: 25px;
}