*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
img{
    width: 500px;
    float: left;
    margin: 25px;
}